.c-form{
    max-width: var(--primary-theme-form-max-width);
    width:var(--primary-theme-form-width);
    display:flex;
    flex-direction:column;
}

.c-form__fieldset{
    all:unset;
    width:100%;
}

.c-form__span{
    padding: 0 0 16px 0;
    display:flex;
    flex-direction:column;
}

.c-form__label{
    color: var(--primary-theme-text-color);
    display:none;
}

.c-form__input{
    border: 1px solid #d2d8d8;
    border-radius:3px;
    padding: 8px 12px 8px 12px;
    font-size:16px;
}

.c-form__input--file-upload{
    color: var(--primary-theme-text-color);
}

.c-form__button{
    text-align:center;
    background: var(--primary-theme-active-color);
    color: var(--primary-theme-text-color);
    font-size:14px;
    font-weight:bold;
    border:none;
    border-radius:3px;
    padding: 16px 25px;
    cursor: pointer;
    transition: background-color .2s ease;
}

.c-form__button:hover{
    background-color: var(--primary-theme-dark-blue);
}

.c-form__button--disabled{
    opacity:0.5;
    pointer-events:none;
    cursor:unset;
}

.c-form__server-response{
    color: var(--primary-theme-text-color);
    text-align:center;
}

.c-form__button--reroute{
    margin-top:16px;
}


@media(min-width:768px){
}