.c-nav{
    background-color: var(--primary-theme-secondary-bg-color);
    position:fixed;
    right:0;
    left:0;
    top:var(--primary-mobile-header-height);
    z-index:2;
    max-height: var(--primary-mobile-navigation-height);
    overflow: hidden;
}

.c-nav__ul{
    display: flex;
    justify-content: space-evenly;
}

.c-nav__li{
    flex-basis:25%;
    text-align:center;
}

.c-nav__a {
    color: var(--primary-theme-menu-text-color);
    padding:calc((var(--primary-mobile-navigation-height) - 18px) / 2) 0; /* 18 is the height of the text. */
    display:block;
    transition: background-color .2s ease;
}

.c-nav__a:hover{
    background-color: var(--primary-theme-hover-color);
}

.c-nav__a--active{
    color: var(--primary-theme-active-menu-text-color)!important;
    background-color: var(--primary-theme-active-color)!important;
}

@media(min-width:768px){
    .c-nav{
        left:unset;
        right:unset;
        bottom:0;
        top: var(--primary-desktop-header-height);
        width: var(--primary-desktop-navigation-width);
        max-height: unset;
        overflow: unset;
    }
}