.c-product{
    background-color: var(--primary-theme-secondary-color);
    padding:10px;
    transition: all .3s ease;
    height:100%;
    color: var(--primary-theme-light-text-color);
}

.c-product:hover{
    transform:scale(1.02);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    cursor:pointer;
}

.c-product__figure{
    text-align: center;
}

.c-product__image{
    width: 100%;
    display: block;
    aspect-ratio: 1;
    object-fit:contain;
}

.c-product__description{
    text-align:center;
    margin-top:10px;
}

.c-product__dimension-container{
    display: flex;
    justify-content: space-evenly;
    margin-top:10px;
}

.c-product__product-tile-id{
    /* color: var(--primary-theme-light-text-color); */
    text-align:center;
    margin-top:10px;
}

.c-product__image--modal{
    /* Following rules are disabled as it causes issues on smaller screens. */
    /* aspect-ratio: unset;
    object-fit: unset; */
}

.c-product__figcaption{
    /* color: var(--primary-theme-light-text-color); */
    /* padding: 15px 0; */
    margin-top:10px;
    font-weight:bold;
}

.c-product--modal{
    height:auto;
    width:80%;
    max-width:560px;
}


.c-product--modal:hover{
    transform:unset;
    box-shadow:unset;
    cursor:unset;
}

/* @media(min-width:768px){
    .c-product--modal{
        max-width: 560px;
    }
} */