:root{
    --primary-theme-primary-color: rgba(255, 255, 255, 1);
    --primary-theme-secondary-color: rgba(7, 25, 57, 1);
    --primary-theme-nav-color: rgba(233, 30, 99, 1);
    --primary-theme-nav-hover-color: rgba(233, 30, 99, 1);
    --primary-theme-button-color: rgba(7, 25, 57, 1);
    --primary-theme-button-hover-color: rgb(13, 47, 105);
    --primary-theme-active-menu-text-color: rgba(255, 255, 255, .8);
    --primary-theme-dark-text-color: rgba(0, 0, 0, 1);
    --primary-theme-light-text-color: rgba(255, 255, 255, .8);

    --primary-theme-form-width: 70%;
    --primary-theme-form-max-width: 600px;

    --primary-desktop-navigation-width: 100px;
    --primary-desktop-header-height: 70px;

    --primary-mobile-navigation-height:90px;
    --primary-mobile-header-height: 40px;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: unset;
}

body{
    background-color:var(--primary-theme-primary-color);
}

.is-hidden{
    display: none!important;
}

.l-flex{
    display: flex;
}

.l-flex--horizontal-center{
    justify-content: center;
}

.l-flex--absolute-center{
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height:100%;
}

.l-flex--reverse{
    flex-direction: row;
}

.l-grid{
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    padding:20px;
    gap:20px;
}

.h-nav-spacing{
    margin-top: var(--primary-mobile-navigation-height);
    width:100%;
    min-height: calc(100vh - (var(--primary-mobile-navigation-height) + var(--primary-mobile-header-height))); /* enable to force div to grow to the bottom of the page. */
}

@media(min-width:768px){
    .l-flex--reverse{
        flex-direction: column;
    }

    .l-grid{ 
        grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    }

    .h-nav-spacing{
        margin-top:unset;
        margin-left: var(--primary-desktop-navigation-width);
        width: calc(100% - var(--primary-desktop-navigation-width));
        min-height: calc(100vh - var(--primary-desktop-header-height));
    }
}

.l-grid--admin{
    width:unset;
    max-width:400px;
    grid-template-columns:unset;
}